@charset "UTF-8";
/* PC,スマホ共有スタイル */
body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", "Meiryo", Arial, sans-serif;
    background-color: azure;
    /*width: 1450px;*/
}

p {
    font-size: 18px;
}

/* =====
PC用のスタイル
======*/
/*横幅設定*/
 body {
     /*height: 100vw;*/ /*高さを固定になるのでコメントアウト*/
     margin: 0;
     padding: 0;
    }

/* ヘッダー */
 header {
     /*position: absolute;*/ /*positionを固定にすると、そこからwidthを固定する必要があるのでコメントアウト*/
     top: 10px;
     border-width: 1px;
     border-color: white;
     border-style: solid;
     background-color: rgba(135, 207, 235, 0.586);
     z-index:1000;
    }

#header {
     background-image: url(../imgs/okinawasea.jpg); 
     background-size: cover;
     background-position: center top;
     background-repeat: no-repeat;
     min-height: 550px;
     margin: 0;
}

/* ナビゲーションのレイアウト */
#nav-pc {
     /*width: 100%;*/
     font-weight: bold;
     text-align: right;
     font-size: 25px;
     padding-top: 18px;
    }

#nav-pc > a {
    text-align: right;
    text-decoration: none;
    justify-content: space-between;
    margin-right: 30px;
}
#nav-pc > a:link {
    color: white;
}
#nav-pc > a:visited {
    color: white;
}
#nav-pc > a:hover {
    color: white;
    text-decoration: underline;
}
#nav-pc > a:active {
    color: white;
}

/*見出しの背景装飾の設定 */
#headline {
    position: absolute;
    top: 50px;
    left: -60px;
    background-color: rgba(197, 238, 255, 0.361);
    border-radius: 50%;
    height: 500px;
    width: 500px;

}
/* 見出し */
#headline  > h1 {
    position: absolute;
    top: 90px;
    left: 200px;
    color: skyblue;
    font-size: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* 小見出し　(自己紹介　お問い合わせ) */
.small-title {
    font-size: 40px;
    color: white;
    background-color: skyblue;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top:0px;
}  

/* 自己紹介 */
#introduction {
    background-color: azure;
    text-align: center;
    padding-bottom: 50px;
    width:100%;
}

.content{
    display: flex; /*flex boxを使用して横並びに*/
    align-items: center;
    justify-content: center;
}

#introdcution .contact-itme{
    width:100%;
}

#introduction-image {
    border:1px black solid;
    border-radius: 50%;
    margin: 0px;
}

#introduction-frame {
	text-align:center;
}

#intro-ul {
	display:inline-block;
	text-align:left;
	list-style-position: inside;
    padding: 10px;
    margin:30px;
}

.intro-li{
	text-align:left;
}

/* コンタクト画面 */
.contact-contents{
    display: flex; /*flex boxを使用して横並びに*/
    align-items: center;
}

#contact {
    width: 100%;
    height: 650px;
    background-color: aliceblue;
}

#contact-label {
    font-size: 18px;
    margin:0px auto;
}

#contact-textbox {
    width: 250px; /*入力内容の横幅は合わせた方が良い。そっちの方がデザイン的に綺麗です*/
    height: 30px;
    border: 1px rgb(0, 200, 255) solid;
    border-radius: 5px;
    margin:15px 0px;
}

#contact-textarea {
    width: 250px; 
    height: 70px;
    border: 1px rgb(0, 200, 255) solid;
    border-radius: 5px;
    margin-top: 10px;
}

.submitbtn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 31px;   /* 余白       */
  background    : #00b7ff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #00b7ff;    /* 枠の指定 */
  margin : 20px 0;
}
.submitbtn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #00b7ff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

form {
    text-align: center;
    margin-top: 10px;
}

/* フッター */
footer {
    /*width: 1450px;*/
    height: 80px; /*150px→80pxを追加*/
    background-color: skyblue;
    text-align: center;
}

#footer-link {
    font-weight: bold;
    font-size: 30px;
    padding-top:10px; /*padding-top:10pxを追加*/
}

#footer-link > a {
    text-decoration: none;
}

#footer-link > a:link {
    color: azure;
}

#footer-link > a:visited {
    color: azure;
}

#footer-link > a:hover {
    color: azure;
    text-decoration: underline;
}

#footer-link > a:active {
    color: azure;
}

#copylight {
    float: right;
    padding-right: 10px; /*100px→10px*/
    margin: 0;
}