<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Homework1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>homework1</servlet-name>
    <servlet-class>Homework1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      homework1
    </servlet-name>
    <url-pattern>
      /homework1
    </url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>result1</servlet-name>
    <servlet-class>Result1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      result1
    </servlet-name>
    <url-pattern>
      /result1
    </url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>homework2</servlet-name>
    <servlet-class>Homework2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      homework2
    </servlet-name>
    <url-pattern>
      /homework2
    </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>result2</servlet-name>
    <servlet-class>Result2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      result2
    </servlet-name>
    <url-pattern>
      /result2
    </url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>homework3</servlet-name>
    <servlet-class>Homework3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      homework3
    </servlet-name>
    <url-pattern>
      /homework3
    </url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>result3</servlet-name>
    <servlet-class>Result3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      result3
    </servlet-name>
    <url-pattern>
      /result3
    </url-pattern>
  </servlet-mapping>
  
</web-app>